main {

    .body-card {
        background: #fff;
        border: 1px solid #fff;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        box-shadow: 0px 7px 15px 0px #0004;


        .btn-primary {
            background: var(--color-primary);
            border: 2px solid var(--color-primary);
            color: #fff;      
            padding: 7px 30px;
            font-weight: bold;
            
            &:focus,
            &:active,
            &:hover {
                color: #fff;
                background: var(--color-primary);
                box-shadow: 0 0 5px 5px rgba(63, 81, 181, .3);
            }
        }
    
        .btn-secondary {
            background: transparent;
            border: 2px solid var(--color-secondary);
            color: var(--color-secondary);
            padding: 7px 30px;
            font-weight: bold;
            
            &:focus,
            &:active,
            &:hover {
                color: #fff;
                background: var(--color-secondary);
                box-shadow: 0 0 5px 5px rgba(156, 39, 176, 0.3);
            }
        }
        
            td,
            th {

            &:last-child {
                text-align: center;
                
                .btn-warning {
                    background: transparent;
                    border: 2px solid var(--orange);
                    
                    i {
                        color: var(--orange);
                    }

                    &:focus,
                    &:active,
                    &:hover {
                        color: #fff;
                        background: var(--orange);
                        box-shadow: 0 0 5px 5px rgba(209, 147, 65, 0.3);

                        i {
                            color: #fff;
                        }
                    }
                }
            
                .btn-danger {
                    background: transparent;
                    border: 2px solid var(--pink);
                    color: var(--pink);
                    
                    i {
                        color: var(--pink);
                    }
                    
                    &:focus,
                    &:active,
                    &:hover {
                        color: #fff;
                        background: var(--pink);
                        box-shadow: 0 0 5px 5px rgba(209, 65, 113, 0.3);

                        i {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
