@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

:root {
    --bg-grad: linear-gradient(87deg, #9C27B0 0, #3F51B5 100%);
    --color-primary: #3F51B5;
    --color-secondary: #9C27B0;
    --color-grey: #747474;
    --border-radius: .375rem;
    --logo-height: 100px;
    --header-height: 100px;
    --menu-top-height: 70px;
    --footer-height: 40px;

    --shadow: 
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-grey);
}


.app {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #F5F5F5;
    transition: color 0s ease-in-out,
                background-color .5s ease-in-out,
                border-color .5s ease-in-out,
                box-shadow .5s ease-in-out;


    aside {

        .logo {
            display: flex;
            justify-content: center;
            align-content: center;
        }
        
        
        .menu-area {
            width: 100%;
            display: block;
        }
    }

    header{

        .header {
            width: 100%;
            display: block;
        }
    }


    main {

        .content {
            width: 100%;
            display: block;
            margin-bottom: 60px;
        }
    }

    footer  {

        .footer {
            
        }
    }
}

@media(max-width: 768px) {
    .app {
        grid-template-rows:
            var(--header-height)
            var(--menu-top-height)
            1fr
            var(--footer-height);
        grid-template-columns: var(--aside-width) 1fr;
        grid-template-areas:
            "logo header"
            "menu menu"
            "content content"
            "footer footer";
    }
}

@media(max-width: 576px) {
    .app {
        grid-template-rows:
            var(--logo-height)
            var(--menu-top-height)
            1fr
            var(--footer-height);
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "menu"
            "content"
            "footer";
    }
}
