header {

    &.header {
        background: var(--bg-grad);
        text-align: center;
        
        .head-card {
            background: #fff;
            padding-bottom: 0 !important; // IMPORTANT para sobreescrever o Bootstrap
            border-radius: var(--border-radius) var(--border-radius) 0 0;

            h1 {
                font-size: 1.8em;
            }

            p {
                margin: 0;
            }

            hr {
                margin-bottom: 0;
            }
        }
    }
}
