aside {

    &.logo {
        background: var(--bg-grad);
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            padding: 15px;
            width: 100%;
        }

        @media(max-width: 576px) {
                
            img {
                width: 350px;
            }
        }
    }
}
