aside {

    &.menu-area {
    background: var(--bg-grad);

        .menu {
            padding: 30px 0;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #fff;
                border-radius: .5rem;
                list-style: none;
                width: max-content;
                margin: 0 auto;
                padding: 0;
                overflow: hidden;

                li {
                    
                    a {
                        display: block;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #FFF;
                        padding: 10px 40px;

                        &:hover {
                            background: rgba(255, 255, 255, 0.1);
                            // color: var(--color-primary);
                        }
                        &.active {
                            background: #fff;
                            color: var(--color-primary);
                            
                            &:hover {
                                background: #fff;
                                color: var(--color-primary);
                            }
                        }
                    }

                }  
            }
            
        } 
    
        @media(max-width: 768px) {

            .menu {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
                
                a {
                    display: inline;
                    padding: 10px;
                    margin: 0px;
                }
            }
        }
    }
}
